# Ignore virtual environment
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore OS files
.DS_Store

# Ignore data files you don’t want on GitHub (optional)
# comment out if you want to include raw data
data/f1Data/

# Ignore PDFs or Word docs if you're generating them locally
*.pdf
*.docx
